body, html {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    height: 100%;
    overflow: hidden;
}

h2 {
    font-weight: normal;
    font-size: 1.6em;
    color: white;
}

ul, li {
    list-style: none;
    padding: 0;
}

button {
    height: 46px;
    background-color: #eee;
    border: none;
    border: 2px solid #ddd;
    font-size: 1em;
    padding: 0 12px;
    cursor: pointer;
    border-radius: 4px;
}


input {
    font-size: 1.2em;
    padding: 0.5em;
    color: #454545;
    border-radius: 4px;
    border: 2px solid #ddd;
    height: 46px;
    box-sizing: border-box;
}


.hidden {
    display: none;
}

.has-error input {
    border: 1px solid red;
}

.channels-pane {
    float: left;
    padding: 0 12px 12px 12px;
    height: calc(100% - 62px);
}

.channels-pane, .user-handle {
    background-color: rgb(77, 58, 74);
    color: rgb(171, 156, 168);
    width: 250px;
    box-sizing: border-box;
}

.channels-pane ul li {
    cursor: pointer;
}

.channels-pane ul li:before {
    content: "#";
}

.channels-pane ul li.selected {
    color: white;
    font-weight: bold;
}


.channel {
    float: left;
    width: calc(100% - 250px);
    height: 100%;
    position: relative;
}

.new-message {
    padding: 8px;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.new-message input {
    width: calc(100% - 86px);
}

.new-message button {
    position: relative; top: -1px;
}

.channel-info {
    height: 120px;
    width: 100%;
    background-color: #f4f4f4;
    position: absolute;
    top: 0px;
    padding: 0 12px;
    box-sizing: border-box;
}

.channel-info h2 {
    color: rgb(77, 58, 74);
}

.channel-info .channel-tags {
    margin: 0;
}

.channel-info .channel-tag {
    display: inline-block;
    margin-right: 8px;
    padding: 1px 5px;
    background-color: rgb(154, 121, 149);
    border-radius: 3px;
    font-size: 0.8em;
    color: white;
}

.channel-messages {
    position: absolute;
    bottom: 62px;
    max-height: calc(100% - 182px);
    overflow: scroll;
    width: 100%;
    padding: 0 8px;
    box-sizing: border-box;
}

.channel-messages .message.current-user .author {
    font-weight: bold;
}

.channel-messages .message {
    margin: 8px 0px;
    background: #f4f4f4;
    padding: 8px 8px;
    border-radius: 4px;
}

.channel-messages .message.current-user {
    background: aliceblue;
}


.user-handle {
    padding: 8px;
    position: absolute;
    bottom: 0;
}

.user-handle label {
    display: block;
}

.user-handle input {

}

.ml-form {
    margin-top: 14px;
}

.form-group {
    padding-bottom: 8px;
}

.form-group label {
    width: 160px;
    display: block;
    text-align: right;
    padding-right: 10px;
    float: left;
    padding-top: 14px;
}

.form-group > input, .form-group .ml-ui-combo-list {
    width: calc(100% - 180px);
    display: inline-block;
}

.ml-ui-combo-list input {
    width: 100%;
}

.form-group.checkbox {
    position: relative;
    top: -6px;
}

.form-group.checkbox label {
    position: absolute;
    left: 0px;
    top: 0px;
}

.form-group.checkbox input {
    position: relative;
    left: 170px;
}

.ml-ui-supercombo-dropdown {
    background: white;
    border: 1px solid #ccc;
    padding: 8px;
}

.ml-ui-supercombo-options div:hover{
    background-color: #eee;
}

.ml-ui-supercombo-options div.selected{
    background-color: #ccc;
}

.ml-ui-combo-list .ml-ui-list {
    margin-top: 8px;
}

.ml-ui-combo-list .list-item {
    float: left;
    background: #eee;
    padding: 2px 4px;
    border-radius: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
}

.ml-ui-combo-list .glyphicon-remove:after {
    content: "x";
    cursor: pointer;
    color: red;
}
